<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="onToggleMenu()">
              <ion-icon name="menu"></ion-icon>
            </button>
      </ion-buttons>
      <ion-title>
        OC - Ionic - Activité - Livres
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-list-header>Mes livres</ion-list-header>
      <ion-item>
        <ion-icon color="gray" name="book" item-start ></ion-icon>
        <ion-grid>
          <ion-row>
            <ion-col col-6><b>Titre</b></ion-col>
            <ion-col col-6><b>Auteur</b></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <button ion-item
              full
              [color]="book.isOut ? 'light' : ''"
              *ngFor="let book of booksList; let i = index"
              (click)="onLoadBook(i)">
            <ion-icon name="book" item-start [color]="book.isOut ? 'danger' : 'secondary'"></ion-icon>
            <ion-grid>
              <ion-row>
                <ion-col col-6 text-wrap>{{ book.titre }}</ion-col>
                <ion-col col-6 text-wrap>{{ book.auteur }}</ion-col>
              </ion-row>
              <ion-row *ngIf="book.isOut">
                <ion-col>>> Prété à {{ book.isOutTo }}</ion-col>
              </ion-row>
            </ion-grid>
      </button>
    </ion-list>
    <button ion-button full (click)="onNewBook()">Nouveau Livre</button>
  </ion-content>