<ion-header>
    <ion-navbar>
        <ion-buttons>
        <button ion-button clear (click)="dismissModal()">Fermer</button>
        </ion-buttons>
        <ion-title>{{ book.titre }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>{{ book.titre }}</ion-card-header>
        <ion-card-content>
        <p *ngFor="let line of book.description">{{ line }}</p>
        </ion-card-content>
        <form #lendForm="ngForm" (ngSubmit)="onToggleBook(lendForm)">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label [color]="lendForm.invalid ? 'danger' : ''">A qui*</ion-label>
                            <ion-input type="text" [(ngModel)]="book.isOutTo" name="qui" required></ion-input>
                        </ion-item>
                        <div *ngIf="book.isOutTo == ''" danger>A qui avez-vous preté ce livre</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button
                            ion-button
                            full
                            [color]="book.isOut === true ? 'danger' : 'secondary'"
                            [disabled]="lendForm.invalid"
                            type="submit">{{ book.isOut === true ? 'Récupérer ce livre' : 'Préter ce livre' }}
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        
    </ion-card>
</ion-content>